@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: black;
}
.page {
    background-color:white;
    margin: 0px 50px 50px 50px;
}
.container {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.logo {
  height: 200px;
  width: 100%;
}
.listaCat{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
}
.social {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 56px;
}
.ig {
    width:8%;
    cursor: pointer;
    background-color: rgb(81, 127, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter;
}

.ig:hover{
    filter: brightness(90%)
}

.yt {
    
    width:8%;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
    background-color: rgb(187, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter;
}

.yt:hover {
    filter: brightness(90%)
}

.tt {
    
    width:8%;
    margin-right:5px;
    cursor: pointer;
    background-color: rgb(0, 172, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter;
}

.tt:hover{
    filter: brightness(90%)
}
.liCFilho {
    float: left;
}
.liCFilho a {
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    cursor: pointer;
}
.listaCat2{
    list-style-type: none;
    overflow: hidden;
    background-color: #414141;
    display: none;
    position: absolute;
    margin-right:0;
    padding: 0;
}
.listaCat2 li{
    margin-top: 2%;
    width: 150px;
    color: white;
}
.listaCat2 li p{
    padding:5%;
    margin-left: 5%;
}
.listaCat2 li:hover{
    cursor: pointer;
    background-color: #7a7a7a;
}
.liCFilho:hover{
    background-color: #646464;
}
.liCFilho:hover .listaCat2{
    display: block;
}
#inicio{
    margin-left: 0;
}
.cats{
    height: 400px;
    width: 300px;
    cursor: pointer;
}
.title{
    background-color: rgba(34,63,90, 0.75);
    position: absolute;
    margin-top: -80px;
}
.containerOB h3{
    width: 300px;
    color: rgb(224, 224, 224);
    font-size: 18px;
    line-height: 1.21em;
    font-weight: 900;
    margin-left: 6%;
    height: 40px;
    font-family: 'ars-maquette-web', sans-serif;
}
.containerOB{
    display:flex;
    justify-content:space-between;
    margin-right:5%;
    margin-left:5%;
    
}
.textCat{
    height: 30%;
    overflow-y: scroll;
}
.image{
    height: 100%;
    width: 100%;
}
.containerReviews {
    margin-left: 5%;
    margin-top: 2%;
    
}
.containerReviews h1 {
    font-size: 45px;
    font-family: 'ars-marquete-web', sans-serif;
    font-weight: 900;
    color:black;
    -webkit-font-smoothing: antialised;
}
.card {
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius:7px;
    overflow: hidden;
    background-color: rgb(114, 114, 114);
    height: 200px;
}
.card:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.cardImage {
    height:200px;
    width: 50%;
    background-color: red;
    border-radius: 7px;
    
}
.cardTitle {
    font: 900 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
    font-size: 40px;
    
}
.plataform {
    color: black;
    font: 500 40px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
    margin-top: 18%;
}
.nota {
    width: 50px;
    height: 27px;
    background: red;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: red;
    
  }
  .notaText {
    font: 900 25px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
    color: white;
}
.nota:before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 13px solid red;
    
  }
.nota:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 13px solid red;
}
.verMaisContainer {
    margin-top: 5%;
    padding-bottom: 10px;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.verMaisContainer h1 {
    color:black;
    display: inline-block;
    font: 900 40px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;

}