
.listaCat{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
    display: flex;
}
.liCFilho {
    float: left;
    margin-left: 3%;
}
.liCFilho div {
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li div:hover{
    cursor: pointer;
}
.listaCat2{
    list-style-type: none;
    overflow: hidden;
    background-color: #414141;
    display: none;
    position: absolute;
    margin-right:0;
    padding: 0;
    height: 150px;
    overflow-y: auto;
}
.listaCat2 li{
    margin-top: 2%;
    width: 150px;
    color: white;
}
.listaCat2 li p{
    padding:5%;
    margin-left: 5%;
}
.listaCat2 li:hover{
    cursor: pointer;
    background-color: #7a7a7a;
}
.liCFilho:hover{
    background-color: #646464;
}
.liCFilho:hover .listaCat2{
    display: block;
}
#inicio{
    margin-left: 5%;
}
@media (min-width: 1374px){
    .containerOB h3{
        width: 300px;
        color: rgb(224, 224, 224);
        font-size: 18px;
        line-height: 1.21em;
        font-weight: 900;
        margin-left: 6%;
        height: 40px;
        font-family: 'ars-maquette-web', sans-serif;
    }
    .containerOB{
        display:flex;
        justify-content:space-between;
        margin-right:3%;
        margin-left:3%;
    }
    .cats{
        height: 400px;
        width: 300px;
        cursor: pointer;
    }
    .title{
        background-color: rgba(34,63,90, 0.75);
        position: absolute;
        margin-top: -45px;
    }
}
@media (max-width: 1373px){
    .containerOB h3{
        width: 250px;
        color: rgb(224, 224, 224);
        font-size: 18px;
        line-height: 1.21em;
        font-weight: 900;
        margin-left: 6%;
        height: 40px;
        font-family: 'ars-maquette-web', sans-serif;
    }
    .containerOB{
        display:flex;
        justify-content:space-between;
        margin-right:2%;
        margin-left:2%;
    }
    .cats{
        height: 400px;
        width: 250px;
        cursor: pointer;
    }
    .title{
        background-color: rgba(34,63,90, 0.75);
        position: absolute;
        margin-top: -45px;
    }
}
@media (max-width: 1148px){
    .containerOB h3{
        width: 250px;
        color: rgb(224, 224, 224);
        font-size: 18px;
        line-height: 1.21em;
        font-weight: 900;
        margin-left: 6%;
        height: 40px;
        font-family: 'ars-maquette-web', sans-serif;
    }
    .containerOB{
        display:flex;
        align-items: center;
        justify-content:space-between;
        margin-right:0%;
        margin-left:0%;
    }
    .cats{
        height: 400px;
        width: 250px;
        cursor: pointer;
    }
    .title{
        background-color: rgba(34,63,90, 0.75);
        position: absolute;
        margin-top: -45px;
        width: 250px;
    }
}
@media (max-width: 1100px){
    .containerOB h3{
        width: 180px;
        color: rgb(224, 224, 224);
        font-size: 18px;
        line-height: 1.21em;
        font-weight: 900;
        margin-left: 6%;
        height: 40px;
        font-family: 'ars-maquette-web', sans-serif;
    }
    .containerOB{
        display:flex;
        align-items: center;
        justify-content:space-between;
        flex-direction: row;
        margin-right:1%;
        margin-left:1%;
    }
    .cats{
        height: 300px;
        width: 180px;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .title{
        background-color: rgba(34,63,90, 0.75);
        position: absolute;
        margin-top: -45px;
        width: 180px;
    }
}
@media (max-width: 821px){
    .containerOB h3{
        width: 100%;
        color: rgb(224, 224, 224);
        font-size: 18px;
        line-height: 1.21em;
        font-weight: 900;
        margin-left: 6%;
        height: 40px;
        font-family: 'ars-maquette-web', sans-serif;
    }
    .containerOB{
        display:flex;
        flex-direction: column;
        margin-right:0%;
        margin-left:0%;
    }
    .cats{
        height: 300px;
        width: 400px;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .title{
        background-color: rgba(34,63,90, 0.75);
        position: absolute;
        margin-top: -45px;
        width: 400px;
    }
}
.textCat{
    height: 30%;
    overflow-y: scroll;
}
.image{
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: black;
}
.page {
    background-image: url("../assets/59164.jpg");
    margin: 0px 50px 50px 50px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}
.logo {
    height: 200px;
    width: 100%;
}
.listaCat{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
}
.socialContainer{
    display:flex;
    justify-content: flex-end;    
    height: 56px;
    flex-direction: row;
    margin-left: 28%;
}
.social {
    display: flex;
}
.ig {
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter;
    color: white;
}
.igc {
    font-size: 100px;
}
.ig:hover{
    filter: brightness(90%)
}
.yt {
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter;
    color:white;
}
.yt:hover {
    filter: brightness(90%)
}
.tt {   
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter;
    color: white;
}
.tt:hover{
    filter: brightness(90%)
}
.containerReviews{
    margin-top: 5%;
}
.containerReviews h1 {
    margin-left:5%;
    font-size: 35px;
    font-family: 'ars-marquete-web', sans-serif;
    font-weight: 700;
    color:white;
    -webkit-font-smoothing: antialised;
}
.card {
    margin-left: 5%;
    margin-top: 2%;
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius:7px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    
}
.cardImage {
    height:200px;
    width: 300px;  
    border-radius: 7px;
}
.cardImage:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.card h2 {
    font: 900 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
    font-size: 40px;
    color: white;
    margin-left:4%;
}
.card h2:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.card h4 { 
    font: 400 25px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
    margin-top: 2%;
    color: white;
    margin-left: 4%;
}
.verMaisContainer {
    margin-top: 5%; 
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.verMaisContainer h1 {
    color:black;
    font: 900 40px Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
}
.line{
    height: 1px;
    width: 95%;
    border-top: 1px solid rgba(182, 178, 178, 0.5);
    margin-top: 10px;
}
::-webkit-scrollbar {
    width: 0px; 
}