* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: black;
    margin-top: 4%;
    background-image: url(assets/bodyBackground.jpg);
    background-attachment: fixed;
}
.page {
    background-color: white;
    margin: 90px 5% 1% 5%;
    border-radius: 15px;
}
